kind: PersistentVolumeClaim
apiVersion: v1
metadata:
    name: database-data
    namespace: wikiwars
spec:
    accessModes:
        - ReadWriteOnce
    resources:
        requests:
            storage: 10Gi