apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: wikiwars
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: registry-secret
      containers:
        - name: backend
          image: harbor.codingpacer.fr/prod/wikiwars-backend:_GITHUB_INJECTED
          env:
            - name: ENV
              value: prod
            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: mail_password
            - name: SQL_DSN
              value: "postgresql://wikiwars:$(SQL_PASSWORD)@database:5432/wikiwars"
          ports:
            - containerPort: 5000
          command: ["gunicorn", "-k", "geventwebsocket.gunicorn.workers.GeventWebSocketWorker", "-b", "0.0.0.0:5000", "--workers", "1", "--threads", "400", "manage:app"]