@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Work+Sans&display=swap');

/* Linked Styles */
body { font-size:14px;padding:0 !important; margin:0 !important; display:block !important; min-width:100% !important; width:100% !important; background:#000000; -webkit-text-size-adjust:none }
a { text-decoration:none }
p { padding:0 !important; margin:0 !important }
img { -ms-interpolation-mode: bicubic; /* Allow smoother rendering of resized image in Internet Explorer */ }