{% extends "mail/components/browserLink.html" %}

{% block content %}

<table>
    <tr>
        <td style="font-family:'Squada One',serif;color:#ffffff;font-size:40px;line-height:40px;text-align:center;font-weight:700">
            Rejoignez la force
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:18px;margin-bottom:15px;">
            {% if dark is true %}Dark{% else %}Maitre{% endif %} {{ pseudo }},
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:15px;">
            &NonBreakingSpace;
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:18px;margin-bottom:10px;">
            L'équipe WIKIWARS est heureuse de vous compter parmi ses joueurs.
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:15px;">
            &NonBreakingSpace;
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:20px;">
            Que vous soyez un jeune padawan ou un maitre {% if dark is true %}Sith{% else %}Jedi{% endif %}, notre plateforme est conçue pour vous offrir une expérience de jeu incomparable.
            Plongez au cœur de l'action, affrontez des adversaires redoutables et formez des liens avec une communauté de joueurs passionnés.
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:15px;">
            &NonBreakingSpace;
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:20px;">
            Validez votre inscription pour commencer votre aventure.
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:20px;">
            &NonBreakingSpace;
        </td>
    </tr>
    <tr>
        <td align="center" style="text-align:center;vertical-align:center;">
            <a href="{{ linkValider }}" style="text-align:center;vertical-align:center;margin:auto;line-height:0px;width:268px;height:54px;font-size:14px;background: #1f9051;border: 1px solid #0d5f38;box-shadow: 0px 2px 0 #0e6d40, 2px 4px 6px #038447;font-weight: 900;letter-spacing: 1px;transition: all 150ms linear;display:flex;align-items:center;justify-content:center;padding:0.5rem 0.25rem;color:#fff;text-align:center;position:relative;text-decoration:none;text-transform:uppercase;border-radius:1vh;">
                Valider mon inscription
                <svg data-v-e3216c45="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" style="width:1.25rem;height:1.25rem;margin-left:0.75rem"><path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z" clip-rule="evenodd"></path></svg>
            </a>
        </td>
    </tr>
    <tr>
        <td style="color:#ffffff;line-height:15px;">
            &NonBreakingSpace;
        </td>
    </tr>
</table>

{% endblock %}
