{% extends "mail/components/browserLink.html" %}

{% block content %}

<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left">
    <div style="color:#ffffff; font-family:Arial,sans-serif; font-size:40px; line-height:40px; text-align:center; font-weight:bold">
        Rejoignez la force.
    </div>
</div>

<div class="fluid-img" style="font-size:0pt; line-height:0pt; text-align:left"><div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
    <div style="color:#ffffff; font-family:Arial,sans-serif; font-size:13px; line-height:18px; text-align:center">
        Bonjour Dark {{ pseudo }}, validez votre compte et commencez à défier vos amis !
    </div>
</div></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="25" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center;display: flex;justify-content: center;"><a href="{{ linkValider }}" target="_blank" style="margin: 0 auto;"><img class="mx-auto" src="{{appUrlBack + '/static/valider_inscription.png'}}" border="0" width="268" height="54" alt="Valider mon inscription" style="color:#FFFFFF; font-family:Arial,sans-serif; font-size:13px; line-height:16px; text-align:center"/></a></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

<div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
</div>

{% endblock %}
