<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center;display: flex;justify-content: center;"><a href="{{ appUrl }}" target="_blank" style="margin: 0 auto;"><img class="mx-auto" src="{{appUrlBack + '/static/WikiWarsNavLogo.png'}}" border="0" width="141" height="27" alt="WikiWars" style="color:#ffffff; font-family:Arial,sans-serif; font-size:20px; line-height:26px; text-align:center"/></a></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="17" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>
        </td>
    </tr>
</table>