<!--<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#000000">-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <!-- #Bosco -->
            <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank"><img src="file:///C:/Users/cherrera/Wikiwars/server/static/WikiWarsNavLogo.png" border="0" width="141" height="27" alt="WikiWars" class="text-bosco" style="color:#ffffff; font-family:Arial,sans-serif; font-size:20px; line-height:26px; text-align:center"/></a></div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="17" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

            <!-- END #Bosco -->

            <!-- Contacts -->
<!--            <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center"><a href="#" target="_blank"><img src="images/img_contacts.jpg" border="0" width="160" height="37" alt="hello@thebosco.com  212.235.8800" class="text-footer" style="color:#e7ab12; font-family:Arial,sans-serif; font-size:13px; line-height:16px; text-align:center"/></a></div>-->
<!--            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>-->

<!--            <div class="hide-for-mobile"><table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>-->
<!--            </div>-->
            <!-- END Contacts -->

        </td>
    </tr>
</table>