<!DOCTYPE html>
<html lang="fr">   
<head>
    <meta charset="UTF-8">
    <title>WikiWars</title>
    <link rel="shortcut icon" href="https://fr.wikipedia.org/static/favicon/wikipedia.ico">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='lobby_cyril.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
   </head>
   
   <body style="
    background-color: #101010!important;
">      
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="
    background-color: #101010!important;
">
    <div class="container-fluid" style="
">
    <img id="navlogo" class="navbar-brand" src="/static/WikiWarsNavLogo.png">
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNav" style="">
      <ul class="navbar-nav me-auto py-3" style="font-size: 3vh;">
        <li class="nav-item">
          <span class="nav-link">Bienvenue {{username}}</span>

        </li>
        <li class="nav-item">
          <span class="nav-link"><span class="badge bg-success">Victoires :</span> {{ user.wins }}</span>
        </li>
        <li class="nav-item">
          <span class="nav-link"><span class="badge bg-danger">Défaites :</span> {{ user.loses }}</span>
        </li>
        <li class="nav-item">
          <span class="nav-link" style="left: 32%;"><span class="badge bg-info">Ratio V/D :</span> {{ user.ratio }}</span>
        </li>
      </ul>
    <form class="d-flex"><a id="refresh" onclick="listing_games()" class="me-2 btnv btnv-5" style="font-size: 3vh;border-radius:30px;width:130px;color:#72798b;"><span style="font-weight: 400;font-size: 18px;">Reload</span><i class="bi bi-arrow-clockwise"></i></a><a class="me-2 btnv btnv-4" onclick="location.href='/logout';" role="button" style="font-size: 3vh;border-radius:30px;width:50px;"><i class="bi bi-box-arrow-in-left"></i></a></form></div>
  </div>
</nav>
<div class="container-fluid">
        <div class="row">
      <div class="col-6">
        <img src="{{ url_for('static', filename='WikiWarsGif.gif') }}" style="
    width: 90%;
    height: 90%;
">
        <form method="post" style="position: relative;top: -11vh;left: 17vw;"><button style="display:contents;"><a type="submit" class="btnv btnv-3" style="">Start Game<i class="bi bi-play-fill"></i></a></button></form>
      </div>
      <div class="col-6">
        <div id="TabGames"><table class="table-fill"><thead><tr><th class="text-left">#</th><th class="text-left">Host</th><th class="text-left">Joueurs</th><th class="text-left">Départ</th><th class="text-left">Arrivée</th><th class="text-left" style="
    width: 30%;
"></th></tr></thead><tbody class="table-hover"></tbody></table></div>
      </div></div></div>

      <script>
        let parties = $('#TabGames');
        function listing_games() {
                $.ajax({
                    url: "/listGames",
                    type: "GET",
                    async: true, // Mode synchrone
                    dataType: "json",
                    complete: function (data) {
                        objResponse = data;
                        tab_games = objResponse.responseJSON.games;
                        var table = '<table class="table-fill">' +
                            '<thead><tr>' +
                            '<th class="text-left">#</th>' +
                            '<th class="text-left">Host</th>' +
                            '<th class="text-left">Joueurs</th>' +
                            '<th class="text-left">Départ</th>' +
                            '<th class="text-left">Arrivée</th>' +
                            '<th class="text-left" style="\n' +
                            '    width: 30%;\n' +
                            '"></th>' +
                            '</tr></thead><tbody class="table-hover">';
    
                        var i = 0;
                        for (var game of tab_games) {
                            let button;
                            if (!game.started){
                                button = '<form action="/lobby" method="post"><button style="display:contents;"><a name="inputGame" value="'+game.host+'" type="submit" class="btnv btnv-3">Rejoindre <i class="bi bi-play-fill"></i></a></button></form>'
                            }else{
                                button = '<button type="submit" class="btn btn-danger" disabled>Partie en cours...</button>'
                            }
                            let nbPlayers = 0;
                            for (var player of game.players){
                                nbPlayers++;
                            }
                            table += '<tr><td class="text-left">'+i+'</td><td class="text-left">'+game.host+'</td><td class="text-left">'+nbPlayers+'</td><td class="text-left">'+game.start_page.replaceAll('_',' ')+'</td><td class="text-left">'+game.target_page.replaceAll('_',' ')+'</td><td class="text-left">'+button+'</td></tr>';
                            i++;
                        }
						if (tab_games.length === 0){
                            table += '<tr><td colspan="6" class="text-center"> Aucune partie n\'est encore créée ! </td></tr>';
                        }
                        table += '</tbody>';
    
                        parties.html(table);
                    }
                });
        }
    
        listing_games();
    
    </script>

   
</body></html>