@import url('https://fonts.googleapis.com/css2?family=Squada+One&family=Work+Sans&display=swap');

.scroll-light {
    &::-webkit-scrollbar {
        width: .3vw;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#lobby, #login {
    color: #fafafa;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    @apply h-[100vh] w-[100vw];
}

div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}

/*** Table Styles **/

h2 {
    font-size: 1.5rem;
    text-transform:uppercase;
}

h3 {
    font-size: 1.25rem;
    text-transform:uppercase;
}

#TabGames {
    @apply mx-auto;

    table {
        height: 100%;
        overflow: hidden;

        border-bottom-right-radius:3px;
        border-bottom-left-radius:3px;

        th {
            @apply p-3 text-lg text-left;
            position: sticky;
            top: 0;
            color:#D5DDE5;
            background:#1b1e24;
            font-weight: 100;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

            &:first-child {
                border-top-left-radius:3px;
            }

            &:last-child {
                border-top-right-radius:3px;
            }
        }

        tr {
            color: #4a4f62;
            text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }

        td {
            line-height: 1.25rem;
            vertical-align:middle;
            font-weight:300;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
        }

        table {
            @apply w-full;
            tr {
                td {
                    padding: 1rem 1rem;
                }

                &:nth-child(even) td {
                    background: #c0c0c0;
                }

                &:nth-child(odd) td {
                    background: #a6a6a6;
                }
            }
        }
    }
}

.bgTable {
    background: url("/images/table_bg.gif") no-repeat center !important;
    background-size: cover !important;
}

.bgWiki {
    background: url("/images/WikiWarsGif.gif") no-repeat center;
    background-size: cover;
}

/* p a {
  background: rgba(255, 255, 255, 0);
  border-bottom: 1px solid;
  color: #fff;
  line-height: 1.4;
  padding: 0.25em;
  text-decoration: none;
}
p a:hover {
  background: white;
  color: #e1332d;
} */

#nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 16%;
    height: 60px;
}

#navlogo {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    max-width: 10%;
    height: auto;
}

.nav-nav {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 25%;
    /* right: 169px; */
    opacity: 0.9;
}

.nav-nav:hover {
    opacity: 1;
    cursor: pointer;
}